<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <!-- Error Message -->
    <!-- <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
     -->

    <!-- Using ngIf -->
    <!-- <app-alert [message]="error" *ngIf="error" (closeEvent)="onHandleClose()"></app-alert> -->

    <!-- Loading Spinner -->
    <div style="text-align: center" *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <!-- Sign In/Sign Up Form -->
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <!-- Email -->
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          ngModel
          required
          email
        />
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          ngModel
          required
          minlength="6"
        />
      </div>

      <div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!authForm.valid"
        >
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
        |
        <button class="btn btn-primary" type="button" (click)="onSwitch()">
          Switch to {{ isLoginMode ? "Sign Up" : "Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
